@charset "ISO-8859-1";
button{background-color:grey; color:white;}
anchors{color:white; background-color:grey;}
p{color:white;}
h1{font-family:"Arial"; color:white;}
body{background-color:black; color:white; font-family:"Times New Roman";}
menu items{color:white; background-color:grey;}

